table.prt{
    border-collapse:collapse;
}
table.prt th{
    border:2px solid black;
    width:50px;
}
table.prt td{
    border:1px solid black;
    text-align:center;
}
table.prt th.memo{
    width:150px;
}
table.prt th.titi{
    width:250px;
}
td.prev{
    width:70px;
}
.red{
    background-color:rgb(245, 160, 174);
}
td.blue{
    background-color:rgb(169, 169, 235);
}
.print{
    width:200px;
}
.message{
    background-color:rgb(223, 168, 168);
    padding:1px;
    border-radius:10px;
    margin-bottom:30px
}
.date{
    background-color:rgb(168, 196, 223);
    padding:1px;
    border-radius:10px;
    margin:3px;
}
.date>p{
    margin-left:20px;
    margin-top:3px;
    margin-bottom:3px;
}
button{
    background-color:rgb(206, 201, 201);
    border: 0.5px solid black;
    width:50px;
    height:35px;
    margin:1px;
}
.non{
    font-size:15px;
}
ul > li::marker{
    content:"O";
}
@media screen {
    td{
        height:45px;
    }
    .prt{
        display:none;
    }
}
@media print{
    .scr{
        display: none;
    }
    td.red{
        background-color:pink !important;
    }
    td.blue{
        background-color:rgb(131, 131, 230) !important;
    }
    .print{
        display:none;
    }
    *{
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .wide{
        width:150px;
    }
    .message{
        display:none;
    }
}
*{
    font-size : 19px;
}
.custom-radio {
    width: 30px;
    height: 30px;
}