table.prt{
    border-collapse:collapse;
}
table.prt th{
    border:2px solid black;
    width:75px;
}
table.prt td{
    border:1px solid black;
    text-align:center;
}
table.prt th.memo{
    width:150px;
}
.red{
    background-color:pink;
}
td.blue{
    background-color:rgb(131, 131, 230);
}
.print{
    width:200px;
}
button{
    background-color:rgb(206, 201, 201);
    border: 0.5px solid black;
    width:50px;
    height:35px;
    margin:1px;
}
.non{
    background-color:yellow;
    font-size:15px;
}
@media screen {
    td{
        height:45px;
    }
}
@media print{
    .scr{
        display: none;
    }
    td.red{
        background-color:pink !important;
    }
    td.blue{
        background-color:rgb(131, 131, 230) !important;
    }
    .print{
        display:none;
    }
    *{
        -webkit-print-color-adjust: exact;
    }
}
*{
    font-size : 19px;
}
.custom-radio {
    width: 30px;
    height: 30px;
}